.imgBanner img {
  width: 70%;
}

#trailsGrid img {
  border: none;
  overflow: hidden;
  box-shadow: 4px 4px 10px black;
}

.imageContainer {
  height: 300px;
  width: 300px;
}
.imageContainer p {
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  letter-spacing: 1.5px;
  height: 30px;
}
.imageContainer img {
  max-height: calc(100% - 30px);
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px black;
  margin: auto;
  display: block;
}
.searchInput {
  width: 100%;
  position: relative;
  display: flex;
  width: 100%;
  top: 50%;
  position: absolute;
  display: flex;
}

.searchInput input {
  width: 45%;
  padding: 5px;
  padding-right:25px;
  height: 20px;
  border-radius: 5px 0 0 5px;
}
.searchInput button {
  width: 10px;
  height: 40px;
  border: 0px solid white;
  background: green;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
}
