.nav-title {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
  color:green;
  padding-left: 50px;
  margin-top: 10px;
}


.nav {
  overflow: hidden;
  background-color: white;
  height: 60px;
}

.nav-title:hover{
  text-decoration: underline;
}
.nav-link {
  float: left;
  color: green;
  background-color:white;
  text-align: center;
  padding: 1px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-right {
  float: right;
}
